body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Source Code Pro", monospace;
    background-color: rgba(212, 212, 170, 0.8);
}
.background-image {
    background-color: url("../img/LOGO-TIJANI-165.png");
    background-size: auto;
    background-repeat: repeat-x;
    z-index: -1;
}
.container-judul {
    display: flex;
    max-width: 575.98px;
    justify-content: center;
    background-color: #bad4aa;
    max-height: 100%;
    align-content: center;
    color: #e8871e;
}

.navbar-brand {
    display: flex;
    padding: 5px 5px;
    font-size: 25px;
    margin-top: 10px;
    align-self: center;
    font-weight: 800;
    text-align: center;
}

.img-ayat {
    width: 350px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    padding: 5px 5px;
}

.sub-title {
    text-decoration: none;
    color: black;
    text-align: center;
}

@media screen and (min-width: 393px) {
    .img-ayat {
        width: 350px;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        padding: 5px 5px;
    }
}
@media screen and (min-width: 390px) {
    .img-ayat {
        width: 350px;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        padding: 5px 5px;
    }
}
@media screen and (min-width: 884px) {
    .container-judul {
        display: flex;
        max-width: 884px;
        justify-content: center;
        background-color: #bad4aa;
        max-height: 100%;
        align-content: center;
    }

    .navbar-brand {
        display: flex;
        padding: 5px 5px;
        font-size: 25px;
        margin-top: 10px;
        align-self: center;
        font-weight: bold;
    }

    .img-ayat {
        width: 600px;
        display: flex;
        justify-content: center;
        margin-left: 150px;
        padding: 5px 5px;
    }
}
